# asgiref==3.8.1
# Django==5.0.4
# sqlparse==0.4.4
# typing_extensions==4.11.0

asgiref==3.8.1
cffi==1.16.0
cryptography==42.0.5
Django==5.0.4

MarkupSafe==2.1.5
pillow==10.3.0
pip==24.0
pycparser==2.22
setuptools==65.5.0
sqlparse==0.4.4
typing_extensions==4.11.0
Werkzeug==3.0.2
django-bootstrap5 ===24.1

#python manage.py flush
#find . -path "*/migrations/*.py" -not -name "__init__.py" -delete
