{% extends 'cliente/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Detalles Compra
{% endblock title %}


{% block link %}
   
{% endblock link %}


{% block caroucel %}
  
{% endblock caroucel %}
  
{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Detalles de la Compra</h1>
    
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Detalles del Pedido</h5>
            <p class="card-text"><strong>Fecha:</strong> {{ pedido_cabecera.fecha }}</p>
            <p class="card-text"><strong>ID del Pedido:</strong> {{ pedido_cabecera.id }}</p>
            <p class="card-text"><strong>ID PayPal:</strong> {{ pedido_cabecera.order_id }}</p>
            <!-- Añade más detalles del pedido aquí según sea necesario -->
        </div>
    </div>
    
    <h2 class="mb-3">Productos Comprados</h2>
    <div class="list-group mb-4">
        <div class="list-group-item d-flex">
            <p class="col-md-1"><strong>Imagen</strong></p>
            <p class="col-md-2"><strong>Nombre</strong></p>
            <p class="col-md-2"><strong>Cantidad</strong></p>
            <p class="col-md-2"><strong>Precio Unitario</strong></p>
            <p class="col-md-2"><strong>Precio iva</strong></p>
            <p class="col-md-2"><strong>Precio oferta</strong></p>
        </div> 
        {% for detalle in qsPedido_detalle %}
        <div class="list-group-item d-flex">
            <img class="col-md-1" src="{{detalle.imagen_p.imagen.url}}" width="10%" height="50px" alt="">
            <h5 class="col-md-2 ">{{ detalle.nombre }}</h5>
            <p class="col-md-2"> {{ detalle.unidades }}</p>
            <p class="col-md-2">{{ detalle.precio }}€</p>
            <p class="col-md-2"><strong>{{ detalle.precio_con_iva|floatformat:2 }}€</strong></p>
            <p class="col-md-2"><strong>{{ detalle.precio_oferta|floatformat:2 }}€</strong></p>
        </div>
        {% endfor %}
        <div class="list-group mt-4" align="right">  
            <p class="col"><strong> Total: {{ total_precio|floatformat:2 }}€</strong></p>
        </div>
    </div>
    
    <!-- Puedes añadir más secciones como detalles de envío, información del cliente, etc. -->
    
    <div class="text-center">
        <a href="/" class="btn btn-primary">Volver a la página principal</a>
    </div>
</div>

{% endblock content %}

{% block script %}

{% endblock script %}
  
  
  

  