{% extends 'cliente/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Carrito  
{% endblock title %}


{% block link %}
   
{% endblock link %}


{% block caroucel %}
  
{% endblock caroucel %}
  
{% block content %}
<h1>Carrito de Compras</h1>
<table>
    <thead>
        <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for producto_id, item in carrito.items %}
            <tr>
                <td>{{ item.nombre }}</td>
                <td>{{ item.precio }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.quantity|floatformat:2 }}</td>
                <td>
                    <a href="">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="">Checkout</a>

{% endblock content %}

{% block script %}

{% endblock script %}
  
  
  

  