{% extends 'cliente/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
  Perfil  
{% endblock title %}

{% block link %}
  <style>
        body {
            background-color: #f9f9fa
        }

        .padding {
            padding: 3rem !important
        }

        .user-card-full {
            overflow: hidden;
        }

        .card {
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
            box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
            border: none;
            margin-bottom: 30px;
        }

        .m-r-0 {
            margin-right: 0px;
        }

        .m-l-0 {
            margin-left: 0px;
        }

        .user-card-full .user-profile {
            border-radius: 5px 0 0 5px;
        }

        .bg-c-lite-green {
                background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
            background: linear-gradient(to right, #ee5a6f, #f29263);
        }

        .user-profile {
            padding: 20px 0;
        }

        .card-block {
            padding: 1.25rem;
        }

        .m-b-25 {
            margin-bottom: 25px;
        }

        .img-radius {
            border-radius: 5px;
        }


        
        h6 {
            font-size: 14px;
        }

        .card .card-block p {
            line-height: 25px;
        }

        @media only screen and (min-width: 1400px){
        p {
            font-size: 14px;
        }
        }

        .card-block {
            padding: 1.25rem;
        }

        .b-b-default {
            border-bottom: 1px solid #e0e0e0;
        }

        .m-b-20 {
            margin-bottom: 20px;
        }

        .p-b-5 {
            padding-bottom: 5px !important;
        }

        .card .card-block p {
            line-height: 25px;
        }

        .m-b-10 {
            margin-bottom: 10px;
        }

        .text-muted {
            color: #919aa3 !important;
        }

        .b-b-default {
            border-bottom: 1px solid #e0e0e0;
        }

        .f-w-600 {
            font-weight: 600;
        }

        .m-b-20 {
            margin-bottom: 20px;
        }

        .m-t-40 {
            margin-top: 20px;
        }

        .p-b-5 {
            padding-bottom: 5px !important;
        }

        .m-b-10 {
            margin-bottom: 10px;
        }

        .m-t-40 {
            margin-top: 20px;
        }

        .user-card-full .social-link li {
            display: inline-block;
        }

        .user-card-full .social-link li a {
            font-size: 20px;
            margin: 0 10px 0 0;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }


        body{margin-top:20px;} 

     

  </style>
{% endblock link %}

{% block content %}  

    <div class="card rounded-bottom smooth-shadow-sm">
        <div class="d-flex align-items-center justify-content-between
          pt-4 pb-6 px-4">
          <div class="d-flex align-items-center">
            <div class="avatar-xxl avatar-indicators avatar-online me-2
              position-relative d-flex justify-content-end
              align-items-end mt-n10">
              <img src="https://bootdey.com/img/Content/avatar/avatar8.png" class="avatar-xxl
              rounded-circle border border-2 " alt="Image">
            </div>
            <div class="lh-1">
              <h2 class="mb-0">{{perfil_id.user_id.last_name}} {{perfil_id.user_id.first_name}}            
              </h2>
              <p class="mb-0 d-block">{{perfil_id.user_id.email}}</p>
            </div>
          </div>          
        </div>        
    <div class="row">
      <div class="col-sm-3">
        <!-- Contenido de la columna izquierda -->
      </div>
      <div class="col-sm-9">
        <!-- Pestañas -->
        <ul class="nav nav-tabs" id="myTab">
          <li><a class="nav-link active" href="#home" data-bs-toggle="tab">Inicio</a></li>
          
          <li><a class="nav-link" href="#settings" data-bs-toggle="tab">Editar perfil</a></li>
        </ul>

        <!-- Contenido de las pestañas -->
        <div class="tab-content">
          <div class="tab-pane active" id="home">
            <!-- Contenido de la pestaña Home -->
          </div>
          <div class="tab-pane" id="messages">
            <!-- Contenido de la pestaña Messages -->
          </div>
          {% if form.errors %}          
            <!-- Contenido de la pestaña Settings -->
            <hr>
            <form class="form" action="{% url 'cliente:perfil_usuario_edit' %}" method="post" id="registrationForm">
            {% csrf_token %}
                <div class="col-md-3">
                    <div class="form-floating">                                    
                        {{form.nombre}}                        
                        <label for="{{form.nombre.id_for_label}}">{{form.nombre.label}}</label>
                        <h5 class="small" style="color:#F5B7B1;">{{form.nombre.errors}} </h5>                  
                    </div>      
                </div>    
                <div class="col-md-3">
                    <div class="form-floating">                                    
                        {{form.apellido}}                        
                        <label for="{{form.apellido.id_for_label}}">{{form.apellido.label}}</label>
                        <h5 class="small" style="color:#F5B7B1;">{{form.apellido.errors}} </h5>                  
                    </div>      
                </div>    
                {% comment %} <div class="col-md-3">
                    <div class="form-floating">                                    
                        {{form.movil}}                        
                        <label for="{{form.movil.id_for_label}}">{{form.movil.label}}</label>
                        <h5 class="small">{{form.movil.errors}} </h5>                  
                    </div>      
                </div>  {% endcomment %}
                <div class="col-md-3">
                    <div class="form-floating">                                    
                        {{form.direccion}}                         
                        <label for="{{form.movil.id_for_label}}">{{form.direccion.label}}</label>
                        <h5 class="small" style="color:#F5B7B1;">{{form.direccion.errors}} </h5>                  
                    </div>      
                </div> 
                 <div class="col-md-3">
                    <div class="form-floating">                                    
                        {{form.email}}                        
                        <label for="{{form.email.id_for_label}}">{{form.email.label}}</label>
                        <h5 class="small" style="color:#F5B7B1;">{{form.email.errors}} </h5>                  
                    </div>      
                </div>   
                 <div class="col-md-3">
                    <div class="form-floating">                                    
                        {{form.password1}}                        
                        <label for="{{form.password1.id_for_label}}">{{form.password1.label}}</label>
                        <h5 class="small" style="color:#F5B7B1;">{{form.password1.errors}} </h5>                  
                    </div>      
                </div>
                 <div class="col-md-3">
                    <div class="form-floating">                                    
                        {{form.password2}}                        
                        <label for="{{form.password2.id_for_label}}">{{form.password2.label}}</label>
                        <h5 class="small" style="color:#F5B7B1;">{{form.password2.errors}} </h5>                  
                    </div>      
                </div>        
                <div class="form-group">
                    <div class="col-xs-12">
                        <br>
                        <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Guardar</button>
                        <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Cancelar</button>
                    </div>
                </div>
            </form>
          
          {% else %}
          <div class="tab-pane" id="settings">
            <!-- Contenido de la pestaña Settings -->
            <hr>
            <form class="form" action="{% url 'cliente:perfil_usuario_edit' %}" method="post" id="registrationForm">
            {% csrf_token %}
                <div class="col-md-3">
                    <div class="form-floating">                                    
                        {{form.nombre}}                        
                        <label for="{{form.nombre.id_for_label}}">{{form.nombre.label}}</label>
                        <h5 class="small">{{form.nombre.errors}} </h5>                  
                    </div>      
                </div>    
                <div class="col-md-3">
                    <div class="form-floating">                                    
                        {{form.apellido}}                        
                        <label for="{{form.apellido.id_for_label}}">{{form.apellido.label}}</label>
                        <h5 class="small">{{form.apellido.errors}} </h5>                  
                    </div>      
                </div>    
                {% comment %} <div class="col-md-3">
                    <div class="form-floating">                                    
                        {{form.movil}}                        
                        <label for="{{form.movil.id_for_label}}">{{form.movil.label}}</label>
                        <h5 class="small">{{form.movil.errors}} </h5>                  
                    </div>      
                </div>  {% endcomment %}
                <div class="col-md-3">
                    <div class="form-floating">                                    
                        {{form.direccion}}                         
                        <label for="{{form.movil.id_for_label}}">{{form.direccion.label}}</label>
                        <h5 class="small">{{form.direccion.errors}} </h5>                  
                    </div>      
                </div> 
                 <div class="col-md-3">
                    <div class="form-floating">                                    
                        {{form.email}}                        
                        <label for="{{form.email.id_for_label}}">{{form.email.label}}</label>
                        <h5 class="small">{{form.email.errors}} </h5>                  
                    </div>      
                </div>   
                 <div class="col-md-3">
                    <div class="form-floating">                                    
                        {{form.password1}}                        
                        <label for="{{form.password1.id_for_label}}">{{form.password1.label}}</label>
                        <h5 class="small" style="color:#F5B7B1;">{{form.password1.errors}} </h5>                  
                    </div>      
                </div>
                 <div class="col-md-3">
                    <div class="form-floating">                                    
                        {{form.password2}}                        
                        <label for="{{form.password2.id_for_label}}">{{form.password2.label}}</label>
                        <h5 class="small" style="color:#F5B7B1;">{{form.password2.errors}} </h5>                  
                    </div>      
                </div>        
                <div class="form-group">
                    <div class="col-xs-12">
                        <br>
                        <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Guardar</button>
                        <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Cancelar</button>
                    </div>
                </div>
            </form>
          </div>
          {% endif %}
        </div>
      </div>
    </div>       
    </div>
<div class="container">        
  </div>
{% endblock content %}
{% block script %}
{% endblock script %}
  
  
  

  